.photo-grid{
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
@media screen and (min-width: 600px) {
.card-tall {
    grid-row: span 2/auto;
}

.card-wide {
    grid-column: span 2/auto;
}
}